body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    transform: scale(0.8);
    transform-origin: top center;
    position: relative;
}

.paragrafo-esquerda {
    position: absolute;
    left: -100px;
    width: 400px;
    text-align: center; 
    border: 10px solid #00008B;
    padding: 40px;
}

.paragrafo-esquerda p {
    font-size: 20px;
} 

.field {
    width:600px;
    max-height: 100vh;
    height: 750px;

    background: url(./assets/field.jpg);
    background-size: cover;
    position: relative;
}

.buraco {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: black;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.buraco img {
    width: 30px;
    position:absolute;
    bottom: 100%;
    transform: translateX(-70%);
}

.bola {
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: white;
    top: 700px;
    left: 50%;
    transform: translateX(-50%);
}

.mira {
    width: 300px;
    height: 150px;
    background: conic-gradient(from 191.37deg at 50% 50%, red -87.92deg, red 59.82deg, green 170.95deg, red 272.08deg, red 419.82deg), green;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;

    position: absolute; 
    padding: 20px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.mira img {
    height: 140px;
    margin: 0 auto;
    transform: rotate(-89deg);
    transform-origin: center bottom;
}

button {
    position: absolute;
    bottom: 3px;
    font-size: 22px;
    color: white;
    background:#00008B;
    border: 0;
    padding: 20px;
    border-radius: 20%;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    outline: 0;
}

@keyframes slideDown {
    0% {
      top: 0;
      opacity: 1;
    }

    20% {
        top: 100px;
        transform: scale(1.3);
    }
    80% {
        top: 100px;
        transform: scale(1.3);
    } 
    100% {
      top: -500px;
    }
  }

.ganhou {
    display: none;
    background: url(./assets/win.jpg);
    width: 180px;
    height: 150px;
    z-index: 2;
    position: absolute;
    background-size: cover;
    border: 10px solid #00008B;
    animation: slideDown 3s;
    top: -500px;
}

.perdeu {
    display: none;
    background: url(./assets/lost.jpg);
    width: 180px;
    height: 150px;
    z-index: 2;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 10px solid #00008B;
    animation: slideDown 3s;
    top: -500px;
}

.block-button {
    pointer-events: none;
    background: #00008Baa;
}